#sprite-svg {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.list-details {
  margin: 0 0 30px 0;
  list-style: none;
  border: 1px solid $color-secondary;
  border-radius: 15px;

  @include media('min', $viewport-post-md) {
    padding: 25px;
  }
  
  @include media('max', $viewport-md) {
    padding: 15px;
  }

  &__item {
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid $color-secondary;
    line-height: 1.7;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__title {
    width: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $color-extra;
    padding-right: 5px;
  }

  &__value {
    font-style: normal;
    font-weight: 500;
    color: $color-global;
    padding-left: 5px;

    @include media('min', $viewport-post-md) {
      font-size: 16px;
    }
    
    @include media('max', $viewport-md) {
      font-size: 14px;
    }
  }
}

.body-mobile-fixed {
  @include media('max', $viewport-md) {
    overflow: hidden;
  }
}