.heading-base {
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  padding: 0;

  @include media('min', $viewport-post-md) {
    font-size: 36px;
    margin: 0 0 30px 0;
  }
  
  @include media('max', $viewport-md) {
    font-size: 20px;
    margin: 0 0 15px 0;
  }
}